app {
  background-color: #EEE;
  display: block;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding-top: 80px;
}

.container {
  width: auto;
  max-width: 900px;
  margin: auto;
}

.title {
  color: #AAA;
  font-size: 22pt;
  font-weight: 100;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}
